@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.565);
        transform: scale(1.565)
    }

    70% {
        -webkit-transform: scale(1.35);
        transform: scale(1.35)
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@keyframes bounceIn {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.565);
        -ms-transform: scale(1.565);
        transform: scale(1.565)
    }

    70% {
        -webkit-transform: scale(1.35);
        -ms-transform: scale(1.35);
        transform: scale(1.35)
    }

    100% {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5)
    }
}

.bounceIn {
    
}

@-webkit-keyframes bounceInOut {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }

    25% {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceInOut {
    0% {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5)
    }

    30% {
        -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
        transform: scale(.95)
    }

    50% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.bounceInOut {
    -webkit-animation-name: bounceInOut;
    animation-name: bounceInOut;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}


@-webkit-keyframes bounce {
    0%,100%,20%,50%,80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

@keyframes bounce {
    0%,100%,20%,50%,80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration:  1s;
    animation-duration:  1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes bounceUp {
    0%,100%,20%,50%,80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px)
    }


}

@keyframes bounceUp {
    0%,100%,20%,50%,80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px)
    }

}

.bounceUp {
    -webkit-animation-name: bounceUp;
    animation-name: bounceUp;
    -webkit-animation-duration:1s;
    animation-duration:  1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}


@-webkit-keyframes bounceDown {
    0%,100%,20%,50%,80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }


}

@keyframes bounceDown {
    0%,100%,20%,50%,80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }

}

.bounceDown {
    -webkit-animation-name: bounceDown;
    animation-name: bounceDown;
    -webkit-animation-duration:1s;
    animation-duration:  1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:1s;
    animation-duration:  1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}